<div class="container todos">
  <form (submit)='addToDo()' class="row todolist-form">
    <mat-form-field class="col" color="primary">
      <mat-label>Add a new to do</mat-label>
      <input 
      matInput
      type="text"
      name="inputToDo"
      placeholder="Enter your todo..."
      class="col-4 todo-input"
      [(ngModel)]="inputTodo"
      />
    </mat-form-field>
    <button mat-fab color="primary" type="submit" class="col-2 todo-submit">
      <mat-icon>add</mat-icon>
    </button>
  </form>
 <div [hidden]="todos.length===0">
  <div>
    <mat-card  fxLayoutAlign="space-between center" class="custom align-middle todo {{(todo.completed && 'custom-bg-color')}}" (click)="toggleDone(i)" fxLayout="row" *ngFor="let todo of todos; let i=index;">
        <mat-checkbox [ngModel]=todo.completed (change)="toggleDone(i)" ></mat-checkbox>
        <div  class="content {{(todo.completed && 'text-decoration-line-through')}}">
          {{todo.content}}
        </div>
        <button  mat-mini-fab (click)="deleteToDo(i)" class="col-1 delete"><mat-icon>delete</mat-icon></button>
    </mat-card>
  </div>

 </div>


</div>